
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Starter Funday</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="register">Register</a></li>
      <li><a routerLink="gallery">Gallery</a></li>
      <li><a routerLink="databind">Databind</a></li>
    </ul>
  </div>
</nav>
<!--<div style="text-align: center;">
<h1>Hi Welcome to Angular Application</h1>

<form>
  <h1>Registration Form</h1>
  ID:<input type="number"><br>
  NAME:<input type="text"><br>
  AGE:<input type="number"><br>
  SALARY:<input type="number"><br>
  DESIGNATION:<input type="text"><br>
  <input type="submit" value="REGISTER">
  <input type="reset" value="RESET">
</form>
<hr>  
<form >
  <h1>Login Form</h1>
  NAME:<input type="text"><br>
  PASSWORD:<input type="password"><br>
  <input type="submit" value="LOGIN">
  <input type="reset" value="RESET">
</form>
</div>
<div style="background-color: yellow;">
  <h1>Hi Welcome to Angular Application</h1>
  <app-login></app-login>
  <app-register></app-register>
  <app-home></app-home>
  <app-hello></app-hello>
  </div>-->

  <router-outlet></router-outlet>