<h1>{{name}}</h1>
<mark>{{collegename}}</mark>, formerly Koneru Lakshmaiah College of Engineering (KLCE) and Koneru Lakshmaiah University, 
is a higher educational institution Deemed to be University, located in Vaddeswaram, Guntur, Andhra Pradesh, India. 
Established in 1980 as a college of engineering, it consists of eight schools, offering academic programs at UG, PG,
 doctoral, and post-doctoral industry-focused courses.
 <mark>{{collegename}}</mark>, formerly Koneru Lakshmaiah College of Engineering (KLCE) and Koneru Lakshmaiah University, 
is a higher educational institution Deemed to be University, located in Vaddeswaram, Guntur, Andhra Pradesh, India. 
Established in 1980 as a college of engineering, it consists of eight schools, offering academic programs at UG, PG, 
doctoral, and post-doctoral industry-focused courses.[2]
<mark>{{collegename}}</mark>, formerly Koneru Lakshmaiah College of Engineering (KLCE) and Koneru Lakshmaiah University, 
is a higher educational institution Deemed to be University, located in Vaddeswaram, Guntur, Andhra Pradesh, India.
 Established in 1980 as a college of engineering, it consists of eight schools, offering academic programs at UG, PG,
  doctoral, and post-doctoral industry-focused courses.[2]
